$white: #ededed;
$dark0: #c1c2c5;
$dark1: #a6a7ab;
$dark2: #909296;
$dark3: #5c5f66;
$dark4: #373a40;
$dark5: #2c2e33;
$dark6: #25262b;
$dark7: #1a1b1e;
$dark8: #141517;
$dark9: #101113;
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
$red0: #fff5f5;
$red1: #ffe3e3;
$red2: #ffc9c9;
$red3: #ffa8a8;
$red4: #ff8787;
$red5: #ff6b6b;
$red6: #fa5252;
$red7: #f03e3e;
$red8: #e03131;
$red9: #c92a2a;
$pink0: #fff0f6;
$pink1: #ffdeeb;
$pink2: #fcc2d7;
$pink3: #faa2c1;
$pink4: #f783ac;
$pink5: #f06595;
$pink6: #e64980;
$pink7: #d6336c;
$pink8: #c2255c;
$pink9: #a61e4d;
