.container {
  display: flex;
}
.container main {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
}

.sidebarContainer {
  display: none;
}

.mobileNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.navContainer {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.nav {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 12;
  margin: 60px 0;
  font-weight: 600;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.isOpen {
  width: 270px;
  margin-right: 50px;
}

.isClosed {
  width: 50px;
  margin-right: 10px;
}
.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 30px 10px;
}
.sidebarDivider {
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.linkContainer {
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  margin: 8px 0;
  /* border: 1px solid black; */
}
.linkContainer:hover {
  box-shadow: inset 0px 0px 0px;
}

.linkContainer li {
  list-style: none;
}
.linkContainer li:hover {
  background-color: bisque;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  padding: 0 6px;
}

.sidebarLinkIcon {
  padding: 8px 16px;
  display: flex;
}
.sidebarLinkIcon svg {
  font-size: 20px;
}

.sidebarLabel {
  display: block;
  flex: 1;
  margin-left: 8px;
}

@media screen and (min-width: 992px) {
  .container {
    display: flex;
  }
  .container main {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
  }

  .sidebarContainer {
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 200px;
    overflow-y: auto;
    display: flex;
  }

  .sidebar {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 12;
    padding-top: 40px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .mobileNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .navContainer {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .nav {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 12;
    margin: 60px 0;
    font-weight: 600;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .isOpen {
    width: 270px;
    margin-right: 50px;
  }

  .isClosed {
    width: 50px;
    margin-right: 10px;
  }
  .isOpen {
    width: 200px;
    /* margin-right: 50px; */
  }

  .isClosed {
    width: 40px;
    /* margin-right: 10px; */
  }
  .logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 30px 10px;
  }
  .sidebarDivider {
    height: 1px;
    width: 100%;
    margin: 5px 0;
  }

  .linkContainer {
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    /* margin: 4px 0; */
    /* border: 1px solid black; */
  }
  .linkContainer:hover {
    box-shadow: inset 0px 0px 0px;
  }

  .linkContainer li {
    list-style: none;
  }
  .linkContainer li:hover {
    background-color: bisque;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    padding: 3px;
  }

  .sidebarLinkIcon {
    padding: 5px 10px;
    display: flex;
  }
  .sidebarLinkIcon svg {
    font-size: 20px;
  }

  .sidebarLabel {
    display: block;
    flex: 1;
    /* margin-left: 4px; */
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
  }
  .container main {
    width: 100%;
    margin-top: 40px;
    padding: 30px;
  }

  .sidebarContainer {
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 250px;
    overflow-y: auto;
  }

  .sidebar {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 12;
    padding-top: 50px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .isOpen {
    width: 270px;
    /* margin-right: 50px; */
  }
  /* .isOpen main {
    margin-right: 290px;
  } */
  .isClosed {
    width: 50px;
    /* margin-right: 10px; */
  }
  /* .isClosed main {
    margin-right: 50px;
  } */
  .logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 10px 30px 10px; */
  }
  .sidebarDivider {
    height: 1px;
    width: 100%;
    margin: 10px 0;
  }

  .linkContainer {
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    /* margin: 8px 0; */
    /* border: 1px solid black; */
  }
  .linkContainer:hover {
    box-shadow: inset 0px 0px 0px;
  }

  .linkContainer li {
    list-style: none;
  }
  .linkContainer li:hover {
    background-color: bisque;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    padding: 6px;
  }

  .sidebarLinkIcon {
    padding: 8px 16px;
    display: flex;
  }
  .sidebarLinkIcon svg {
    font-size: 20px;
  }

  .sidebarLabel {
    display: block;
    flex: 1;
    /* margin-left: 8px; */
  }
}
